.menu {
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(189,189,189,1) 41%, rgba(189,189,189,1) 62%, rgba(189,189,189,0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Ajustar el cuerpo y la estructura general */
html, body {
    width: 100vw;
    min-height: 100vh; /* Usa min-height en vez de height */
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Ajustar la barra de navegación */
.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Ajuste del contenedor navbar-end */
.navbar-end {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Ajuste del enlace "Salir" */
.navbar-item {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

/* Ajuste responsivo */
@media (min-width: 768px) {
    .navbar-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-end {
        justify-content: flex-end;
    }

}

@media (max-width: 480px) {
    .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item a {
        font-size: 14px;
        padding: 8px;
    }
}

.notification-bell {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Centrar el contenido en main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    width: 80%;
    max-width: 400px;
}

#columns {
    flex-grow: 1; /* Ajustado para evitar exceso de espacio innecesario */
    min-height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}


.py-4 {
    display: flex;
    flex-wrap: wrap; /* Permite ajuste en pantallas pequeñas */
    gap: 100px; /* Espacio entre elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Asegura alineación vertical */
    height: 70vh; /* Ocupa toda la altura de la pantalla */
}

/* Estilos generales para todos los botones */
.button {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 200px;
    height: 50px;
    background-image: url("/static/img/bandera.jpg") !important;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: x-small;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 4px; /* Ajuste fino para el texto */
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: none;
    text-decoration: none; /* Evita subrayado en `<a>` */
}

/* Efecto al pasar el mouse */
.button:hover {
    opacity: 0.8;
}

/* Personalización para botones específicos */
#registerBtn {
    background-image: url("/static/img/register.jpg"); /* Imagen específica */
}

#loginBtn {
    background-image: url("/static/img/login.jpg"); /* Imagen diferente */
}

#updatePasswordBtn {
    background-color: #1E40AF; /* Azul fuerte */
}

/* Personalización específica para el botón de actualizar */
#updateBtn {
    background-color: #1E40AF; /* Azul fuerte */
    color: white;
    padding: 12px 32px;
}

/* Personalización específica para el botón de cancelar */
#cancelBtn {
    background-color: #b81b1b; /* Gris */
    color: white;
    padding: 12px 24px;
}

.button-primary {
    background-color: #1E40AF; /* Azul fuerte */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button-primary:hover {
    background-color: #3B82F6; /* Azul más claro */
}

.button-secondary {
    background-color: #6B7280; /* Gris */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #4B5563; /* Gris más oscuro */
}


.btn-custom {
    width: 100px; /* Ajusta según sea necesario */
    padding: 8px 12px;
}

/* Estilos del footer para que se mueva con el contenido */
footer {
    width: 100%;
    background-color: #f3f4f6;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajustes del texto */
footer p {
    font-size: 15px;
    color: #4b5563;
    font-weight: bold;
    margin-left: 20px; /* Asegura que el texto esté alineado a la izquierda */
}

/* Contenedor de imágenes para que queden alineadas */
.footer-images {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Ajuste de tamaño de imágenes */
footer img {
    width: 120px;
    height: 30px;
    object-fit: contain;
}

/* Ajuste responsive para pantallas más grandes */
@media (min-width: 540px) {
    footer img {
        width: 120px;
        height: 30px;
        object-fit: contain;
    }
}

/* estilos para el listado de usuarios*/
.user-card {
    border-radius: 10px;
    background: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-admit {
    background: linear-gradient(45deg, #4CAF50, #8BC34A);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-admit:hover {
    background: linear-gradient(45deg, #388E3C, #689F38);
    transform: scale(1.1);
}
/* news */
.menu-opciones {
    display: none;
    position: absolute;
    background-color: #2d3748;
    width: 130px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.menu-opciones button {
    width: 100%;
    padding: 8px;
    text-align: left;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-opciones button:hover {
    background-color: #4a5568;
}

/*formulario antropología*/
/* Contenedor principal para formularios */
.formularios {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Estilos generales para cada formulario */
.formulario {
  flex: 1;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Distribución uniforme dentro de cada formulario */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Ajuste responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .formularios {
    flex-direction: column;
    align-items: center;
  }
  
  .formulario {
    width: 100%;
  }
}
