{% extends "layouts/base.html" %}

{% block content %}
<h2 class="text-xl font-semibold">Ficha N° {{ ficha.nro_id }}</h2>
<div class="p-4 bg-white shadow-md rounded">
    <p><strong>Nombre colección:</strong> {{ ficha.nombre_coleccion }}</p>
    <p><strong>Tipo de material:</strong> {{ ficha.tipo_material }}</p>
    <p><strong>Ubicación:</strong> {{ ficha.ubicacion }}</p>
    <p><strong>Descripción:</strong> {{ ficha.descripcion }}</p>
    <p><strong>Estado de conservación:</strong> {{ ficha.estado_conservacion }}</p>
    <p><strong>Fecha de Registro:</strong> {{ ficha.fecha_registro }}</p>
</div>
{% endblock %}
